@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Mono:wght@300;400;500;600;700&display=swap");

:root {
  /* Typography */
  --regular-font: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --heading-font: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    monospace, sans-serif;

  --box-shadow-1: 2px 4px 6px #000;

  --transition-8: all 0.8s ease-in-out;

  --primary-color: #845ec2;
  --background-color: #e1edf2;
  --secondary-color: #3f87a0;
  --font-size-sm: clamp(0.83rem, 0.06vw + 0.82rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.2vw + 0.96rem, 1.19rem);
  --font-size-md: clamp(1.2rem, 0.41vw + 1.12rem, 1.58rem);
  --font-size-lg: clamp(1.44rem, 0.72vw + 1.3rem, 2.11rem);
  --font-size-xl: clamp(1.73rem, 1.17vw + 1.49rem, 2.81rem);
  --font-size-xxl: clamp(2.07rem, 1.81vw + 1.71rem, 3.75rem);
  --font-size-xxxl: clamp(2.49rem, 2.71vw + 1.95rem, 5rem);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--regular-font);
  /* font size :16px */
  background-color: var(--background-color);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

.btn {
  padding: 0.5rem 1rem;
  width: 100%;
  border: transparent;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  margin: 1rem 0;
  color: var(--secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.322);
  max-width: 250px;
  text-align: center;
  margin-left: auto;
  display: block;
  margin-right: auto;
  box-shadow: 1px 2px 3px #000;
  transition: var(--transition-8);
  cursor: pointer;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: white;
  transform: translateY(15%);
  box-shadow: 2px 10px 6px #000;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

/* styles */

.app {
  position: relative;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.logo {
  font-size: var(--font-size-md);
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  color: var(--primary-color);
}

.nav__links {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  font-size: var(--font-size-md);
  font-weight: bold;
}

.nav__links li a {
  display: block;
}

.active__link {
  color: var(--primary-color);
}
.link {
  color: black;
}

.form {
  margin: 0 auto;
}
.search__input {
  display: block;
  margin: 0 auto;
  padding: 0.3rem;
  padding-left: 1rem;
  font-size: var(--font-size-md);
  transition: var(--transition-8);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  margin-top: 3rem;
  background-color: #000;
  opacity: 0.6;
}

.search__input:hover,
.search__input:focus {
  background-color: whitesmoke;
  opacity: 1;
  outline: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.blog__data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 500px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
}

.card {
  box-shadow: 0px 1px 2px 1px #000;
  padding: 0.1rem;
  transition: transform 0.1s ease-in-out;
}

.card:hover {
  box-shadow: 0px 2px 2px 2px #000;
  transform: scale(1.02) translateY(3%);
}

.card__title {
  font-size: var(--font-size-base);
  text-transform: capitalize;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.card__body {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.card__date {
  font-size: var(--font-size-sm);
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}

.post {
  margin-top: 2rem;
}

.post__heading {
  font-size: var(--font-size-lg);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: var(--heading-font);
  padding-bottom: 1rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  margin-bottom: 1rem;
}

.form__post {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 500px;
  margin: 0 auto;
}

.title,
.post__title {
  margin-bottom: 0.5rem;
  font-size: var(--font-size-md);
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.post__title {
  margin-top: 1rem;
}

.input__title {
  padding: 0.5rem;
  font-size: var(--font-size-md);
  border: 2px solid black;
  transition: var(--transition-8);
  border-radius: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  background-color: whitesmoke;
}

.input__title:hover,
.input__title:focus,
.post__textarea:hover,
.post__textarea:focus {
  outline: transparent;
  border-color: var(--primary-color);
  /* outline-color: var(--primary-color); */
  background-color: white;
}

.post__textarea {
  width: 100%;
  padding: 1rem;
  font-size: var(--font-size-base);
  border: 2px solid gray;
  border-radius: 0.2rem;
  resize: none;
  margin-bottom: 1rem;
}

.btn--submit {
  max-width: 120px;
  font-size: var(--font-size-md);
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  margin-top: 1rem;
  background-color: whitesmoke;
}

.about {
  max-width: 500px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 5rem;
  font-size: var(--font-size-base);
}

.footer__heading {
  font-size: var(--font-size-sm);
  text-align: center;
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-weight: bold;
}
